<nav class="bg-gray-800 py-4">
    <div class="max-w-7xl mx-auto px-4">
      <div class="flex justify-between">
        <!-- Logo -->
        <div class="flex items-center">
          {% comment %} <a href="#" >Your Logo</a> {% endcomment %}
          {% if is_home %}
       <form action="" method="post" >
         {% csrf_token %}
        <input type="text" name="search">
        <button type="submit" class="bg-blue-500 text-white font-bold rounded-md p-2 px-3">search</button>
      </form>
      {% endif %}
        </div>
       
        <!-- Navigation Links -->
        <div class="hidden md:flex space-x-4">
          <a href="{% url 'home' %}" class="text-white hover:text-gray-300">Home</a>
          {% if user.is_authenticated %}
          
          <a href="{% url 'logout' %}" class="text-white hover:text-gray-300">Logout</a>
      {% else %}
      <a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a>
          {% endif %}

          <a href="{% url "create_post" %}" class="text-white hover:text-gray-300">Post</a>
   
        </div>
      
        <!-- Mobile Menu Button -->
        <div class="md:hidden flex items-center">
          <button id="mobile-menu-btn" class="text-white focus:outline-none">
            <svg class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    
    <!-- Mobile Menu -->
    <div id="mobile-menu" class="md:hidden bg-gray-800">
      <div class="px-2 py-3 space-y-2">
        {% if user.is_authenticated %}
          
        <a href="{% url 'logout' %}" class="text-white hover:text-gray-300">Logout</a>
    {% else %}
    <a href="{% url 'login' %}" class="text-white hover:text-gray-300">Login</a>
        {% endif %}
        <a href="{% url "home" %}" class="block text-white hover:text-gray-300">Home</a>
        <a href="{% url "create_post" %}" class="text-white hover:text-gray-300">Post</a>
   
      </div>
    </div>
  </nav>
  